In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

df_11 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2011_선박화재.csv', encoding = 'cp949')
df_12 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2012_선박화재.csv', encoding = 'cp949')
df_13 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2013_선박화재.csv', encoding = 'cp949')
df_14 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2014_선박화재.csv', encoding = 'cp949')
df_15 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2015_선박화재.csv', encoding = 'cp949')
df_16 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2016_선박화재.csv', encoding = 'cp949')
df_17 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2017_선박화재.csv', encoding = 'cp949')
df_18 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2018_선박화재.csv', encoding = 'cp949')
df_19 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2019_선박화재.csv', encoding = 'cp949')
df_20 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2020_선박화재.csv', encoding = 'cp949')
df_21 = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/2021_선박화재.csv', encoding = 'cp949')

df_11.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
0,2011-12-31 13:20,울산,영해-EEZ,화재,관리소홀,양호,1.0,4.0,0.0,0.0,0.0,울기 동남방 26마일 해상,35|19|00,129|51|00,어선,9.77,NaN,NaN,NaN,NaN
1,2011-12-31 12:22,통영,항계내,추진기장애,운항부주의,양호,1.0,2.0,0.0,0.0,0.0,"34-40N,128-41-45E 해점",34|40|06,128|41|45,어선,4.97,NaN,NaN,NaN,NaN
2,2011-12-31 06:40,여수,영해,전복,운항부주의,양호,1.0,5.0,0.0,0.0,0.0,여수시 돌산읍 항대 앞,34|38|65,127|42|23,낚시어선,1.88,NaN,NaN,NaN,NaN
3,2011-12-30 21:15,부산,항계내,화재,정비불량,양호,1.0,67.0,0.0,0.0,0.0,부산 사하구 감천항 3부두 2선석(35-03.78N 129-00.70E),35|03|78,129|00|70,어선,2194.00,NaN,NaN,NaN,NaN
4,2011-12-30 12:00,서귀포,영해-EEZ,기관고장,정비불량,양호,1.0,6.0,0.0,0.0,0.0,서귀포 남방 43마일,32|31|00,126|36|00,어선,8.55,NaN,NaN,NaN,NaN

In [ ]:
df_11_fire = df_11[df_11['발생유형'].str.contains('화재')]
df_11_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
0,2011-12-31 13:20,울산,영해-EEZ,화재,관리소홀,양호,1.0,4.0,0.0,0.0,0.0,울기 동남방 26마일 해상,35|19|00,129|51|00,어선,9.77,NaN,NaN,NaN,NaN
3,2011-12-30 21:15,부산,항계내,화재,정비불량,양호,1.0,67.0,0.0,0.0,0.0,부산 사하구 감천항 3부두 2선석(35-03.78N 129-00.70E),35|03|78,129|00|70,어선,2194.00,NaN,NaN,NaN,NaN
12,2011-12-28 16:00,목포,영해,화재,화기취급부주의,양호,1.0,10.0,8.0,0.0,0.0,전남 진도군 조도면 가사도리 양덕도 남방 0.3마일,34|29|00,126|06|00,어선,29.00,NaN,NaN,NaN,NaN
40,2011-12-20 17:08,포항,영해-EEZ,화재,정비불량,양호,1.0,7.0,0.0,0.0,0.0,강구 동방 30마일,36|18|00,130|01|00,어선,48.00,NaN,NaN,NaN,NaN
43,2011-12-20 05:27,동해,영해,화재,기타,양호,1.0,3.0,0.0,0.0,0.0,삼척시 삼척항 동방 약 10마일,37|32|00,129|21|00,어선,7.93,NaN,NaN,NaN,NaN

In [ ]:
df_11_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_11_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_11_fire = df_11_fire.drop(cols_11_drop, axis=1)

In [ ]:
df_11_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_11_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_11_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_11_fire.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
0,2011-12-31 13:20,영해-EEZ,화재,관리소홀,양호,35|19|00,129|51|00,어선,9.77
3,2011-12-30 21:15,항계내,화재,정비불량,양호,35|03|78,129|00|70,어선,2194.00
12,2011-12-28 16:00,영해,화재,화기취급부주의,양호,34|29|00,126|06|00,어선,29.00
40,2011-12-20 17:08,영해-EEZ,화재,정비불량,양호,36|18|00,130|01|00,어선,48.00
43,2011-12-20 05:27,영해,화재,기타,양호,37|32|00,129|21|00,어선,7.93

In [ ]:
df_12_fire = df_12[df_12['발생유형'].str.contains('화재')]
df_12_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
7,2012-12-28 02:00,통영,항계내,화재,화기취급부주의,양호,1.0,2.0,0.0,0.0,0.0,통영시 정량동 소재 굴수협 앞 서방파제 계류중인 선박 선실내,34|50|55,128|26|40,어선,93.0,NaN,NaN,NaN,NaN
10,2012-12-27 15:07,부산,영해,화재,화기취급부주의,양호,1.0,20.0,0.0,0.0,0.0,부산 영도구 생도 남서방 1해리,35|01|31,129|04|52,화물선,43022.0,NaN,NaN,NaN,NaN
23,2012-12-23 11:10,제주,항계내,화재,정비불량,황천4급,1.0,0.0,0.0,0.0,0.0,제주 한림항,0|0|0,0|0|0,예부선,137.0,NaN,NaN,NaN,NaN
44,2012-12-18 11:10,서귀포,항계내,화재,화기취급부주의,양호,1.0,0.0,0.0,0.0,0.0,성산포항 내,33|27|33,126|55|20,어선,29.0,NaN,NaN,NaN,NaN
82,2012-12-05 00:52,여수,항계내,화재,기타,양호,1.0,0.0,0.0,0.0,0.0,여수시 국동 선원회관 앞 부두,34|43|32,127|43|13,어선,22.0,NaN,NaN,NaN,NaN

In [ ]:
df_12_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_12_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_12_fire = df_12_fire.drop(cols_12_drop, axis=1)

In [ ]:
df_12_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_12_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_12_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_12_fire.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
7,2012-12-28 02:00,항계내,화재,화기취급부주의,양호,34|50|55,128|26|40,어선,93.0
10,2012-12-27 15:07,영해,화재,화기취급부주의,양호,35|01|31,129|04|52,화물선,43022.0
23,2012-12-23 11:10,항계내,화재,정비불량,황천4급,0|0|0,0|0|0,예부선,137.0
44,2012-12-18 11:10,항계내,화재,화기취급부주의,양호,33|27|33,126|55|20,어선,29.0
82,2012-12-05 00:52,항계내,화재,기타,양호,34|43|32,127|43|13,어선,22.0

In [ ]:
df_13_fire = df_13[df_13['발생유형'].str.contains('화재')]
df_13_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
1,2013-12-31 05:50,완도,영해,화재,기타,양호,1,0,0,0,0,완도군 완도읍 완도항(2부두),34|19|31,126|45|00,어선,46.00,NaN,NaN,NaN,NaN
16,2013-12-23 14:20,통영,영해,화재,화기취급부주의,양호,1,1,1,0,0,통영시 욕지면 두미도 북서방 2.4해리 해상,34|43|50,128|07|40,어선,4.99,NaN,NaN,NaN,NaN
17,2013-12-22 21:07,창원,항계내,화재,화기취급부주의,양호,1,17,0,0,0,마산항 4부두 5번선석,35|12|07,128|35|34,화물선,11473.00,NaN,NaN,NaN,NaN
21,2013-12-20 10:30,인천,항계내,화재,화기취급부주의,양호,1,0,0,0,0,인천광역시 중구 항동 연안부두 남항 미래해운 부두(정박중),37|26|58,126|36|30,예부선,29.00,NaN,NaN,NaN,NaN
48,2013-11-27 23:45,목포,영해,화재,정비불량,풍랑경보,1,16,0,0,0,전남 신안군 흑산면 북방 16해리,34|57|3,125|33|9,화물선,2948.00,NaN,NaN,NaN,NaN

In [ ]:
df_13_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_13_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_13_fire = df_13_fire.drop(cols_13_drop, axis=1)

In [ ]:
df_13_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_13_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_13_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_13_fire.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
1,2013-12-31 05:50,영해,화재,기타,양호,34|19|31,126|45|00,어선,46.00
16,2013-12-23 14:20,영해,화재,화기취급부주의,양호,34|43|50,128|07|40,어선,4.99
17,2013-12-22 21:07,항계내,화재,화기취급부주의,양호,35|12|07,128|35|34,화물선,11473.00
21,2013-12-20 10:30,항계내,화재,화기취급부주의,양호,37|26|58,126|36|30,예부선,29.00
48,2013-11-27 23:45,영해,화재,정비불량,풍랑경보,34|57|3,125|33|9,화물선,2948.00

In [ ]:
df_14_fire = df_14[df_14['발생유형'].str.contains('화재')]
df_14_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
9,2014-12-30 04:40,동해,영해,화재,기타,황천5급,1,4,0,2,4,독도 북동 7.9마일,37|19|62,132|00|26,어선,29.00,NaN,NaN,NaN,NaN
23,2014-12-27 08:25,목포,항계내,화재,기타,양호,1,3,0,0,0,전남 목포 신항 한라시멘트 앞 해상,34|45|28,126|21|09,어선,12.00,NaN,NaN,NaN,NaN
74,2014-12-14 17:00,포항,영해,화재,기타,황천5급,1,5,0,0,0,경북 포항시 남구 장기면 모포 동방 8.7마일 해상,35|55|29,129|42|19,어선,5.85,NaN,NaN,NaN,NaN
82,2014-12-12 16:50,통영,영해,화재,화기취급부주의,양호,1,1,0,0,0,통영시 도산면 읍도 북서방 0.4마일,34|55|83,128|18|81,어선,1.42,NaN,NaN,NaN,NaN
90,2014-12-11 11:05,통영,협수로,화재,정비불량,양호,1,1,0,0,0,통영시 욕지면 욕지항 입구 방파제 근해상,34|38|30,128|16|62,어선,1.99,NaN,NaN,NaN,NaN

In [ ]:
df_14_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_14_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_14_fire = df_14_fire.drop(cols_14_drop, axis=1)

In [ ]:
df_14_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_14_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_14_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_14_fire.head()

                발생일시 발생해역 발생유형     발생원인  기상특보        위도         경도  선종     톤수
9   2014-12-30 04:40   영해   화재       기타  황천5급  37|19|62  132|00|26  어선  29.00
23  2014-12-27 08:25  항계내   화재       기타    양호  34|45|28  126|21|09  어선  12.00
74  2014-12-14 17:00   영해   화재       기타  황천5급  35|55|29  129|42|19  어선   5.85
82  2014-12-12 16:50   영해   화재  화기취급부주의    양호  34|55|83  128|18|81  어선   1.42
90  2014-12-11 11:05  협수로   화재     정비불량    양호  34|38|30  128|16|62  어선   1.99

In [ ]:
df_15_fire = df_15[df_15['발생유형'].str.contains('화재')]
df_15_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
7,2015-12-30 10:52,울산,영해,화재,기타,양호,1.0,7.0,0.0,0.0,0.0,고리 남동방 4마일 해상,35|17|00,129|22|00,낚시어선,4.40,NaN,NaN,NaN,NaN
13,2015-12-29 21:30,부산,항계내,화재,화기취급부주의,양호,1.0,0.0,0.0,0.0,0.0,부산시 남구 우암동 부산항 7부두,35|07|24,129|03|58,화물선,3199.00,NaN,NaN,NaN,NaN
23,2015-12-28 00:07,서귀포,영해-EEZ,화재,기타,풍랑주의보,1.0,9.0,0.0,0.0,0.0,서귀포 남동방 34해리 해상,32|43|97,126|52|16,화물선,1369.00,NaN,NaN,NaN,NaN
24,2015-12-27 18:40,서귀포,영해,화재,정비불량,양호,1.0,5.0,0.0,1.0,0.0,서귀포시 성산항 동방 약 7해리 해상,33|28|00,126|04|00,낚시어선,9.77,NaN,NaN,NaN,NaN
26,2015-12-27 15:23,평택,협수로,화재,관리소홀,양호,1.0,0.0,0.0,0.0,0.0,"충남 당진시 석문면 왜목항 앞 400미터 해상(FIX 37-02N, 126-31E)",37|02|00,126|31|00,어선,7.93,NaN,NaN,NaN,NaN

In [ ]:
df_15_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_15_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_15_fire = df_15_fire.drop(cols_15_drop, axis=1)

In [ ]:
df_15_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_15_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_15_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_15_fire.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
7,2015-12-30 10:52,영해,화재,기타,양호,35|17|00,129|22|00,낚시어선,4.40
13,2015-12-29 21:30,항계내,화재,화기취급부주의,양호,35|07|24,129|03|58,화물선,3199.00
23,2015-12-28 00:07,영해-EEZ,화재,기타,풍랑주의보,32|43|97,126|52|16,화물선,1369.00
24,2015-12-27 18:40,영해,화재,정비불량,양호,33|28|00,126|04|00,낚시어선,9.77
26,2015-12-27 15:23,협수로,화재,관리소홀,양호,37|02|00,126|31|00,어선,7.93

In [ ]:
df_16_fire = df_16[df_16['발생유형'].str.contains('화재')]
df_16_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
13,2016-12-29 03:42,동해,항계내,화재,화기취급부주의,양호,1,0,0,0,0,묵호센터 옆 활복장 앞 계류장,37|33|00,129|06|00,어선,15.00,NaN,NaN,NaN,NaN
19,2016-12-28 12:56,포항,항계내,화재,화기취급부주의,풍랑주의보,1,0,0,0,0,구룡포 항내,35|59|15,129|33|10,어선,40.00,NaN,NaN,NaN,NaN
40,2016-12-24 10:59,보령,영해,화재,화기취급부주의,양호,1,4,0,0,0,보령시 황도 북방 3해리,36|17|00,125|57|00,어선,9.77,NaN,NaN,NaN,NaN
57,2016-12-20 16:10,창원,영해,화재,화기취급부주의,양호,1,1,0,0,0,경남 거제시 일운면 지심도 서방 1마일 해상,34|49|21,128|43|49,어선,4.24,NaN,NaN,NaN,NaN
82,2016-12-17 11:37,완도,영해,화재,화기취급부주의,양호,1,13,0,0,0,장도 북서방 3.4해리,34|13|9,127|05|15,어선,29.00,NaN,NaN,NaN,NaN

In [ ]:
df_16_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_16_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_16_fire = df_16_fire.drop(cols_16_drop, axis=1)

In [ ]:
df_16_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_16_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_16_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_16_fire.head()

                발생일시 발생해역 발생유형     발생원인   기상특보        위도         경도  선종     톤수
13  2016-12-29 03:42  항계내   화재  화기취급부주의     양호  37|33|00  129|06|00  어선  15.00
19  2016-12-28 12:56  항계내   화재  화기취급부주의  풍랑주의보  35|59|15  129|33|10  어선  40.00
40  2016-12-24 10:59   영해   화재  화기취급부주의     양호  36|17|00  125|57|00  어선   9.77
57  2016-12-20 16:10   영해   화재  화기취급부주의     양호  34|49|21  128|43|49  어선   4.24
82  2016-12-17 11:37   영해   화재  화기취급부주의     양호   34|13|9  127|05|15  어선  29.00

In [ ]:
df_17_fire = df_17[df_17['발생유형'].str.contains('화재')]
df_17_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
18,2017-12-30 00:25,속초,항계내,화재,기타,양호,1,0,0,0,0,강릉시 주문진읍 항내,0|0|0,0|0|0,어선,6.67,NaN,NaN,NaN,NaN
27,2017-12-28 10:24,인천,항계내,화재,화기취급부주의,양호,1,51,0,0,0,인천 연안부두 제1국제여객터미널 여객선,37|27|12,126|35|42,여객선,14614.00,NaN,NaN,NaN,NaN
63,2017-12-22 14:53,여수,영해,화재,관리소홀,양호,1,1,0,0,0,거문도 어목단 앞 0.1해리,34|03|00,127|17|00,어선,3.29,NaN,NaN,NaN,NaN
72,2017-12-21 17:07,목포,항계내,화재,정비불량,양호,1,6,0,0,0,신안군 임자도 서방 약 13해리,35|06|00,125|47|00,어선,13.00,NaN,NaN,NaN,NaN
114,2017-12-15 08:48,완도,영해,화재,화기취급부주의,양호,1,3,0,0,0,완도군 덕우도 동방 0.5해리,34|14|00,127|02|00,어선,4.61,NaN,NaN,NaN,NaN

In [ ]:
df_17_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_17_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_17_fire = df_17_fire.drop(cols_17_drop, axis=1)

In [ ]:
df_17_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_17_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_17_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_17_fire.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
18,2017-12-30 00:25,항계내,화재,기타,양호,0|0|0,0|0|0,어선,6.67
27,2017-12-28 10:24,항계내,화재,화기취급부주의,양호,37|27|12,126|35|42,여객선,14614.00
63,2017-12-22 14:53,영해,화재,관리소홀,양호,34|03|00,127|17|00,어선,3.29
72,2017-12-21 17:07,항계내,화재,정비불량,양호,35|06|00,125|47|00,어선,13.00
114,2017-12-15 08:48,영해,화재,화기취급부주의,양호,34|14|00,127|02|00,어선,4.61

In [ ]:
df_18_fire = df_18[df_18['발생유형'].str.contains('화재')]
df_18_fire.head()

,발생일시,관할해경서,발생해역,발생유형,발생원인,기상특보,사고선박수,구조인원,부상인원,사망인원,실종인원,사고위치,위도,경도,선종1,톤수1,선종2,톤수2,선종3,톤수3
8,2018-12-30 12:05,통영,영해,화재,정비불량,양호,1,9,0,0,0,통영시 홍도 남방 0.3해리 해상,34|31|00,128|43|00,낚시어선,9.77,NaN,NaN,NaN,NaN
24,2018-12-26 16:06,여수,항계내,화재,정비불량,양호,1,0,0,0,0,여수시 봉산동 여수수협 돌체1번 부두,34|43|45,127|43|51,어선,89.00,NaN,NaN,NaN,NaN
25,2018-12-26 15:03,부산,항계내,화재,화기취급부주의,양호,1,0,0,0,0,부산 감천 구평 방파제 접안된 선박 AMARAMBA,35|02|56,129|00|05,어선,766.00,NaN,NaN,NaN,NaN
50,2018-12-24 05:18,여수,영해,화재,정비불량,양호,1,2,0,0,0,여수시 남면 금오도 남동방 5.2해리 해상,34|28|02,127|52|05,어선,6.01,NaN,NaN,NaN,NaN
110,2018-12-17 05:32,제주,영해-EEZ,화재,화기취급부주의,양호,1,5,0,0,0,우도 동방 16해리,33|27|00,127|16|00,어선,9.77,NaN,NaN,NaN,NaN

In [ ]:
df_18_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '발생유형', '발생원인', '기상특보', '사고선박수', '구조인원',
       '부상인원', '사망인원', '실종인원', '사고위치', '위도', '경도', '선종1', '톤수1', '선종2', '톤수2',
       '선종3', '톤수3'],
      dtype='object')

In [ ]:
cols_18_drop = ['관할해경서','사고위치','사고선박수','구조인원', '부상인원', '사망인원', '실종인원','선종2', '톤수2','선종3', '톤수3']

df_18_fire = df_18_fire.drop(cols_18_drop, axis=1)

In [ ]:
df_18_fire.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종1', '톤수1'], dtype='object')

In [ ]:
df_18_fire.rename(columns={'선종1': '선종'}, inplace=True)
df_18_fire.rename(columns={'톤수1': '톤수'}, inplace=True)
df_18_fire.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
8,2018-12-30 12:05,영해,화재,정비불량,양호,34|31|00,128|43|00,낚시어선,9.77
24,2018-12-26 16:06,항계내,화재,정비불량,양호,34|43|45,127|43|51,어선,89.00
25,2018-12-26 15:03,항계내,화재,화기취급부주의,양호,35|02|56,129|00|05,어선,766.00
50,2018-12-24 05:18,영해,화재,정비불량,양호,34|28|02,127|52|05,어선,6.01
110,2018-12-17 05:32,영해-EEZ,화재,화기취급부주의,양호,33|27|00,127|16|00,어선,9.77

In [ ]:
df_19_fire = df_19[df_19['발생유형'].str.contains('화재')]
df_19_fire.head()

,발생일시,관할해경서,발생해역,위도,경도,기상상태,발생원인,발생유형,사고선박수,발생인원,구조,부상,사망,실종,선 종,톤수
8,2019-12-29 19:14,보령,영해,36 | 11 | 28,126 | 14 | 58,풍랑주의보,정비불량,화재,1,2,2,1,0,0,어선,7.93
16,2019-12-28 16:54,통영,영해,34 | 34 | 0,128 | 31 | 23,양호,정비불량,화재,1,4,4,0,0,0,낚시어선,9.16
17,2019-12-28 14:10,군산,영해-EEZ,35 | 26 | 6,124 | 26 | 8,양호,화기취급부주의,화재,1,9,9,0,0,0,어선,493.00
110,2019-12-15 02:21,제주,영해,33 | 40 | 0,126 | 4 | 0,양호,기타,화재,1,9,9,0,0,0,어선,139.00
120,2019-12-14 04:30,동해,공해,38 | 21 | 0,133 | 24 | 0,풍랑주의보,정비불량,화재,1,10,10,0,0,0,어선,79.00

In [ ]:
df_19_fire.columns

Index(['발생일시', '관할해경서', '발생해역', '위도', '경도', '기상상태', '발생원인', '발생유형', '사고선박수',
       '발생인원', '구조', '부상', '사망', '실종', '선 종', '톤수'],
      dtype='object')

In [ ]:
cols_19_drop = ['관할해경서','발생인원','사고선박수','구조', '부상', '사망', '실종']

df_19_fire = df_19_fire.drop(cols_19_drop, axis=1)

In [ ]:
df_19_fire.columns

Index(['발생일시', '발생해역', '위도', '경도', '기상상태', '발생원인', '발생유형', '선 종', '톤수'], dtype='object')

In [ ]:
#df_19_fire.rename(columns={'선 종': '선종'}, inplace=True)
df_19_fire.rename(columns={'기상상태': '기상특보'}, inplace=True)
df_19_fire.head()

,발생일시,발생해역,위도,경도,기상특보,발생원인,발생유형,선종,톤수
8,2019-12-29 19:14,영해,36 | 11 | 28,126 | 14 | 58,풍랑주의보,정비불량,화재,어선,7.93
16,2019-12-28 16:54,영해,34 | 34 | 0,128 | 31 | 23,양호,정비불량,화재,낚시어선,9.16
17,2019-12-28 14:10,영해-EEZ,35 | 26 | 6,124 | 26 | 8,양호,화기취급부주의,화재,어선,493.00
110,2019-12-15 02:21,영해,33 | 40 | 0,126 | 4 | 0,양호,기타,화재,어선,139.00
120,2019-12-14 04:30,공해,38 | 21 | 0,133 | 24 | 0,풍랑주의보,정비불량,화재,어선,79.00

In [ ]:
df_20_fire = df_20[df_20['발생유형'].str.contains('화재')]
df_20_fire.head()

,발생일시,월별,시간대별,관할해경서,발생해역,위도,경도,기상상태,발생원인,발생유형,사고선박수,발생인원,구조,부상,사망,실종,선 종,톤수
1,2020-12-30 00:26,12,0,부산,항계 내,35 | 5 | 39,129 | 2 | 17,풍랑주의보,화기취급부주의,화재,1,0,0,0,0,0,유조선,32.00
14,2020-12-29 03:07,12,3,창원,영해,35 | 6 | 26,128 | 41 | 6,양호,정비불량,화재,1,11,11,0,0,0,낚시어선,6.58
33,2020-12-26 22:28,12,22,통영,협수로,34 | 43 | 49,128 | 37 | 21,양호,안전부주의,화재,1,0,0,0,0,0,예부선,385.00
41,2020-12-26 07:08,12,7,부안,항계 내,35 | 47 | 22,126 | 37 | 51,양호,기타,화재,1,18,18,0,0,0,예부선,716.00
71,2020-12-21 10:49,12,10,군산,영해,36 | 3 | 24,126 | 31 | 36,양호,안전부주의,화재,1,3,3,0,0,0,어선,3.50

In [ ]:
df_20_fire.columns

Index(['발생일시', '월별', '시간대별', '관할해경서', '발생해역', '위도', '경도', '기상상태', '발생원인',
       '발생유형', '사고선박수', '발생인원', '구조', '부상', '사망', '실종', '선 종', '톤수'],
      dtype='object')

In [ ]:
cols_20_drop = ['월별', '시간대별','관할해경서','발생인원','사고선박수','구조', '부상', '사망', '실종']

df_20_fire = df_20_fire.drop(cols_20_drop, axis=1)

In [ ]:
df_20_fire.columns

Index(['발생일시', '발생해역', '위도', '경도', '기상상태', '발생원인', '발생유형', '선 종', '톤수'], dtype='object')

In [ ]:
#df_20_fire.rename(columns={'선 종': '선종'}, inplace=True)
#df_20_fire.rename(columns={'기상상태': '기상특보'}, inplace=True)
df_20_fire

,발생일시,발생해역,위도,경도,기상특보,발생원인,발생유형,선종,톤수
1,2020-12-30 00:26,항계 내,35 | 5 | 39,129 | 2 | 17,풍랑주의보,화기취급부주의,화재,유조선,32.00
14,2020-12-29 03:07,영해,35 | 6 | 26,128 | 41 | 6,양호,정비불량,화재,낚시어선,6.58
33,2020-12-26 22:28,협수로,34 | 43 | 49,128 | 37 | 21,양호,안전부주의,화재,예부선,385.00
41,2020-12-26 07:08,항계 내,35 | 47 | 22,126 | 37 | 51,양호,기타,화재,예부선,716.00
71,2020-12-21 10:49,영해,36 | 3 | 24,126 | 31 | 36,양호,안전부주의,화재,어선,3.50
...,...,...,...,...,...,...,...,...,...
3563,2020-01-27 14:07,항계 내,35 | 11 | 53,128 | 34 | 34,양호,화기취급부주의,화재,기타,4.00
3564,2020-01-27 12:30,영해,34 | 45 | 42,125 | 59 | 53,양호,정비불량,화재,여객선,449.00
3574,2020-01-27 08:50,항계 내,34 | 55 | 33,128 | 4 | 10,황천5급,화기취급부주의,화재,어선,59.00
3641,2020-01-16 03:27,협수로,34 | 40 | 9,128 | 2 | 41,양호,정비불량,화재,예부선,2887.00
3688,2020-01-10 14:58,영해,37 | 22 | 60,126 | 20 | 41,양호,기타,화재,어선,2.73

In [ ]:
df_21_fire = df_21[df_21['발생유형'].str.contains('화재')]
df_21_fire.head()

,발생일시,월별,시간대별,관할해경서,발생해역,위도,경도,기상상태,발생원인,발생유형,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
35,2021-12-24 09:59,12,9,완도,항계 내,34 | 19 | 0,126 | 45 | 12,양호,화기취급부주의,화재,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2021-12-23 08:15,12,8,울진,영해,37 | 3 | 0,129 | 25 | 59,양호,관리소홀,화재,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2021-12-21 00:20,12,0,동해,항계 내,37 | 28 | 58,129 | 9 | 21,양호,관리소홀,화재,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2021-12-13 22:07,12,22,포항,항계 내,36 | 5 | 31,129 | 25 | 55,양호,원인미상,화재,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,2021-12-12 12:43,12,12,서귀포,영해,33 | 9 | 0,126 | 18 | 29,양호,관리소홀,화재,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_21_fire.columns

Index(['발생일시', '월별', '시간대별', '관할해경서', '발생해역', '위도', '경도', '기상상태', '발생원인',
       '발생유형', '사고선박수', '발생인원', '구조', '부상', '사망', '실종', '선 종', '톤수'],
      dtype='object')

In [ ]:
cols_21_drop = ['월별', '시간대별','관할해경서','발생인원','사고선박수','구조', '부상', '사망', '실종']

df_21_fire = df_21_fire.drop(cols_21_drop, axis=1)

In [ ]:
df_21_fire.columns

Index(['발생일시', '발생해역', '위도', '경도', '기상상태', '발생원인', '발생유형', '선 종', '톤수'], dtype='object')

In [ ]:
#df_21_fire.rename(columns={'선 종': '선종'}, inplace=True)
df_21_fire.rename(columns={'기상상태': '기상특보'}, inplace=True)
df_21_fire.head()

,발생일시,발생해역,위도,경도,기상특보,발생원인,발생유형,선종,톤수
35,2021-12-24 09:59,항계 내,34 | 19 | 0,126 | 45 | 12,양호,화기취급부주의,화재,어선,55.00
48,2021-12-23 08:15,영해,37 | 3 | 0,129 | 25 | 59,양호,관리소홀,화재,어선,3.27
66,2021-12-21 00:20,항계 내,37 | 28 | 58,129 | 9 | 21,양호,관리소홀,화재,예부선,391.00
108,2021-12-13 22:07,항계 내,36 | 5 | 31,129 | 25 | 55,양호,원인미상,화재,예부선,2475.00
122,2021-12-12 12:43,영해,33 | 9 | 0,126 | 18 | 29,양호,관리소홀,화재,여객선,180.00

In [ ]:
all_len = (len(df_11_fire)+len(df_12_fire)+len(df_13_fire)+len(df_14_fire)+len(df_15_fire)+len(df_16_fire)+
      len(df_17_fire)+len(df_18_fire)+len(df_19_fire)+len(df_20_fire)+len(df_21_fire))

print("11 : ",len(df_11_fire),", 12 : ",len(df_12_fire),", 13 : ",len(df_13_fire),", 14 : ",len(df_14_fire),", 15 : ",len(df_15_fire),", 16 : ",len(df_16_fire),
      ", 17 : ",len(df_17_fire),", 18 : ",len(df_18_fire),", 19: ",len(df_19_fire),", 20 : ",len(df_20_fire),", 21 : ",len(df_21_fire),", all_len : ",all_len)

11 :  81 , 12 :  82 , 13 :  72 , 14 :  84 , 15 :  116 , 16 :  102 , 17 :  95 , 18 :  127 , 19:  128 , 20 :  133 , 21 :  192 , all_len :  1212

In [ ]:
print(df_21_fire.columns)
print(df_15_fire.columns)

Index(['발생일시', '발생해역', '위도', '경도', '기상특보', '발생원인', '발생유형', '선종', '톤수'], dtype='object')
Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종', '톤수'], dtype='object')

In [ ]:
all_df = pd.concat([df_11_fire,df_12_fire,df_13_fire,df_14_fire,df_15_fire,df_16_fire,
                       df_17_fire,df_18_fire,df_19_fire,df_20_fire,df_21_fire], ignore_index=True)

all_df.head()

,발생일시,발생해역,발생유형,발생원인,기상특보,위도,경도,선종,톤수
0,2011-12-31 13:20,영해-EEZ,화재,관리소홀,양호,35|19|00,129|51|00,어선,9.77
1,2011-12-30 21:15,항계내,화재,정비불량,양호,35|03|78,129|00|70,어선,2194.00
2,2011-12-28 16:00,영해,화재,화기취급부주의,양호,34|29|00,126|06|00,어선,29.00
3,2011-12-20 17:08,영해-EEZ,화재,정비불량,양호,36|18|00,130|01|00,어선,48.00
4,2011-12-20 05:27,영해,화재,기타,양호,37|32|00,129|21|00,어선,7.93

In [ ]:
all_df_len = (len(all_df))
print(all_df_len)

1212

In [ ]:
all_df.to_csv('all_data.csv', index=False, encoding = 'cp949')

In [ ]:
import numpy as np
import pandas as pd

ship_df = pd.read_csv('/content/drive/MyDrive/deu2/4월_프로젝트/Machine_dataset/all_ship_fire_data.csv', encoding = 'cp949')

In [ ]:
ship_df.columns

Index(['발생일시', '발생해역', '발생유형', '발생원인', '기상특보', '위도', '경도', '선종', '톤수'], dtype='object')

In [ ]:
print(ship_df['발생해역'].unique(),'\n')
print(ship_df['발생원인'].unique(),'\n')
print(ship_df['기상특보'].unique(),'\n')
print(ship_df['선종'].unique(),'\n')

['영해-EEZ' '항계내' '영해' 'EEZ 30마일 이내' '협수로' '공해' '외국해역' '항계 내']

['관리소홀' '정비불량' '화기취급부주의' '기타' '적재불량' '재질불량' '운항부주의' '기상악화' '기타 ' '안전부주의'
 '원인미상']

['양호' '풍랑주의보' '황천4급' '황천5급' '저시정' '풍랑경보' '태풍주의보' '태풍경보' '황천6급']

['어선' '유조선' '화물선' '낚시어선' '여객선' '모터보트' '기타' '예부선' nan '요트' '관공선' '고무보트'
 '유도선']

In [ ]:
print(ship_df['발생해역'].value_counts(),'\n')
print(ship_df['발생원인'].value_counts(),'\n')
print(ship_df['기상특보'].value_counts(),'\n')
print(ship_df['선종'].value_counts(),'\n')

항계내            437
영해             312
항계 내           306
영해-EEZ          79
협수로             57
공해              10
EEZ 30마일 이내      8
외국해역             3
Name: 발생해역, dtype: int64

화기취급부주의    448
관리소홀       217
정비불량       177
기타         171
기타          77
원인미상        66
안전부주의       37
재질불량         7
운항부주의        7
적재불량         4
기상악화         1
Name: 발생원인, dtype: int64

양호       1080
풍랑주의보      57
황천5급       32
저시정        18
황천4급       12
황천6급        7
풍랑경보        4
태풍주의보       1
태풍경보        1
Name: 기상특보, dtype: int64

어선      811
기타       98
예부선      90
화물선      71
낚시어선     47
유조선      33
모터보트     30
여객선      13
관공선       6
요트        4
고무보트      4
유도선       3
Name: 선종, dtype: int64

In [ ]:
print(ship_df.isnull().sum())

발생일시    0
발생해역    0
발생유형    0
발생원인    0
기상특보    0
위도      0
경도      0
선종      2
톤수      2
dtype: int64

In [ ]:
ship_rows = ship_df[ship_df['선종'].isnull()].index
ton_rows = ship_df[ship_df['톤수'].isnull()].index
print(ship_rows)
print(ton_rows)

Int64Index([44, 390], dtype='int64')
Int64Index([44, 390], dtype='int64')

In [ ]:
for col in ship_df.columns:
    print(ship_df[col].unique())

In [ ]:
df['컬럼명'] = df['컬럼명'].replace({'기존값1': '새로운값1', '기존값2': '새로운값2', ...})